body {
	margin:none;
	padding:None;
	font-family: arial;
}

.current{
	color: red;
}

.header{
	background-color: #76923C;
	margin: none;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height: 40px;
	color: white;
	font-weight:bold;
}

.header  a:link {
  color: white;
  padding: 2px;
  padding-right: 6px;
  text-decoration: none;
}
.header a:visited {
  color: white;
  padding: 2px;
  padding-right: 6px;
  text-decoration: none;
}

.header a:hover {
  background-color: #AACF5A;
  color: white;
  padding: 2px;
  padding-right: 6px;
  text-decoration: none;
}

.header-buffer{
	width:100%;
	height: 40px;
}

.header .name{
    float:right;
}

.logo {
	width: 90px;
	margin-left: 30px;
	float: left;
}

.topmenu{
	display: inline;
	list-style-type: none;
}
.topmenu li{
	float: left;
	padding: 7px 7px 6px 8px
}

.maincontent {
	width: 530px;
	margin-left:auto;
	margin-right: auto;
}

#logtable {
	border: 1px solid black;
	border-collapse: collapse;
}
#logtable td{
	padding: 3px;
}
#logtable th{
	border: 1px solid black;
	padding: 3px;
}

.even {
	background-color:#E1FF9F;
}

.timestamp {
    font-style:italic;
    font-size:.7em;
}

.notes {
    margin: 0;
    margin-left: 3px;
}

.title {
    float:left;
    margin-right:10px;
    width: 360px;
}
.button {
    float: right;
}
.date {
    font-size: .6em;
    clear: both;
    margin-bottom: 1px;
    font-style: italic;
}

.description{
    margin-top: 1px;
    font-size: .9em;
}

.entries{
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}
#ymp-relevance { display:none !important; }
.ymp-player-max #ymp-body { width:570px !important; }
.ymp-player-max #ymp-body #ymp-body-strip { width:557px !important; }
.ymp-player-max #ymp-body #ymp-body-base  { width:560px !important; }

/* Yahoo! Media Player: Set background color */
#ymp-player .ymp-color-main,
#ymp-tray .ymp-color-tray {
  background-color:#76923C !important;
}