{% extends "base.html" %}
{% block pageTitle %}Programming - Sciam{% endblock %}

{% block header %}
{% endblock %}

{% block body %}

{% for item in entries %}

<div class="entries">
<div class="title">
<a class="title" href="{{ item.link }}">{{ item.title }} [{{ item.length }}]</a>
</div>
<form class="button" action='{% url log-add-entry program %}' method='POST'>
<td><input type='hidden' name = 'notes' id='notesbox'
     value="{{ item.title }}"/></td>
<td><input class='center' type='submit' value='Log Me!'/></td>
</form>
<p class="date">({{ item.date|date }})</p>
<p class="description">{{ item.description }}</p>
</div>

{% endfor %}

{% endblock %}

{% block footer %}
{% endblock %}
