<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">

<html>
<head>
  <link rel="stylesheet" href="/site_media/style.css" />
  <title>{% block title %} KELP - {% block pageTitle %} {% endblock %} {% endblock %}</title>
</head>
{% block head %} {% endblock %}
  <script type="text/javascript">
  	{% block js %}
  	{% endblock %}
  </script>	
  
<body>

<div class='header'>

	
  <img src='/site_media/logo-white.png' class='logo' 
	   alt='Kmnr Electronic Logging Platform' 
	   title='Kmnr Electronic Logging Platform'>
	
	<ul class='topmenu'>
	{% block header %}	{% endblock %}
	<li><a href='{% url log-show-current %}'>Current Show</a></li>
	<li><a href='{% url log-show-daily %}'>Today's Log</a></li>
	{% if perms.view_reports %}
        <li><a href='{% url log-show-report %}'>Reports</a></li>
    {% endif %}
    <li class='name'>
    {% if user.is_authenticated %}
      <a href='{% url kelp.views.kelp_logout %}'>
        Logout {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}
      </a>
    {% else %}
      <a href='{% url kelp-login %}'>Login</a>
    {% endif %}
    </li>
    </ul>

</div>
<div class='header-buffer'></div>

<div class="maincontent">
  {% block body %}
  {% endblock %}
</div>
{% block footer %}{% endblock %}
</body>
</html>
