{% extends "base.html" %}

{% block pageTitle %}Log{% endblock %}

{% block header %}
{% endblock %}

{% block body %}


<table id='logtable'>
{% for b in blocks %}
	<tr><th colspan='3' {% if b.current %}class='current'{% endif %}>{{b.start|time}}</th></tr>
	{% for s in b.slots %}
	<tr class="{% cycle 'even' 'odd'%}">
    {% if s.program.url %}
       <td><a href={{ s.program.url }}>{{ s.program.name }}</a></td>
    {% else %}
       <td>{{s.program.name}}</td>
    {% endif %}
		{% if s.isdone %}
			<td>{{s.isdone.time|time}}</td>
			<td>{{s.isdone.notes}}</td>
		{%else%}
			<td colspan='2'>
			<form action='{% url log-add-entry s.id %}' method='POST'>
			
			<input type='text' name = 'notes' id='notesbox'
					onfocus="this.value=''" value="Description" style="width:75px;"
					onblur="this.value='Description'" autocomplete='on' width='150'>
			<input type='submit' value='add'>
			</form>
		{% endif %}
		</td>
	</tr>
	{% endfor %}
{% endfor %}
</table>
{% endblock %}

{% block footer %}
{% endblock %}
