{% extends "base.html" %}

{% block pageTitle %}Log{% endblock %}

{% block header %}
{% endblock %}

{% block js %}
function activatePlaceholders() {
    var detect = navigator.userAgent.toLowerCase(); 
    if (detect.indexOf("safari") > 0) return false;
    var inputs = document.getElementsByTagName("input");
    for (var i=0;i<inputs.length;i++) {
        if (inputs[i].getAttribute("type") == "text") {
            var placeholder = inputs[i].getAttribute("placeholder");
            if (placeholder.length > 0) {
                inputs[i].value = placeholder;
                inputs[i].onclick = function() {
                    if (this.value == this.getAttribute("placeholder")) {
                        this.value = "";
                    }
                    return false;
                }
                inputs[i].onblur = function() {
                    if (this.value.length < 1) {
                        this.value = this.getAttribute("placeholder");
                    }
                }
            }
        }
    }
}

window.onload = function() {
    activatePlaceholders();
}
{% endblock %}


{% block body %}


<table id='logtable'>
{% for b, slots in blocks %}
	<tr><th colspan='4' {% if b.current %}class='current'{% endif %}>{{b.start|time}}</th></tr>
	{% for s in slots %}
	<tr class="{% cycle 'even' 'odd'%}">
    {% if s.program.url %}
       <td><a href={{ s.url }}>{{ s.program.name }}</a></td>
    {% else %}
       <td>{{s.program.name}}</td>
    {% endif %}
		{% if s.isdone %}
			<td><p class='notes'>{{s.isdone.notes}}</p></td>
            <td class="timestamp">{{s.isdone.user.first_name}}<br/>at {{s.isdone.time|time}} <br/>
              {% if s.isdone.can_undo %}
                 <a href="{% url log-undo-entry s.isdone.pk %}"> Undo </a>
              {% endif %}               
            </td>
        {%else%}
			<form action='{% url log-add-entry s.id %}' method='POST'>
            <td><input type="text" name='notes' id='notesbox'
			     placeholder="Title"/></td>
			<td><input class='center' type='submit' value='add'/></td>
			</form>
		{% endif %}
	</tr>
	{% endfor %}
{% endfor %}
</table>
{% endblock %}

{% block footer %}
{% endblock %}
