{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block body %}
<table id='logtable'>
{% for b in blocks %}
	<tr><td {% if b.current %}class='current'{% endif %}>{{b.start|time}}</td><td></td><td></td></tr>
	{% for s in b.slots %}
		<tr><td></td>
		<td>{{s.program.name}}</td>
		{% if s.isdone %}
			<td>{{s.isdone.time|time}}</td>
		{%else%}
			<td>
			<form action='{% url kelp.views.addentry s.id %}' method='POST'>
			Notes: <input type='text' name='notes'><input type='submit' value='add'>
			</form>
		{% endif %}
		</td></tr>
	{% endfor %}
{% endfor %}
</table>
{% endblock %}

{% block footer %}
{% endblock %}